* {
  box-sizing: border-box;
  margin: 0;
}

#bars {
  display: flex;
  flex-flow: wrap column;
  height: 30vh;
  width: 80vw;
  margin: 0 auto;
  padding: 20px;
}

.bar {
  border: 1px solid lightseagreen;
  background-color: lightcoral;
  margin: 0 2px 0 0;
  height: 60%;
}
